.mw-header {
  padding: 10px;
  font-size: 2.25em;
}

.mw-header-link {
  margin-left: 10px;
  color: #ff0000;
  text-decoration: underline;
  cursor: pointer;
}

.mw-header-button {
  float: right;
  margin-left: 10px;
}

.mw-table-container {
  position: absolute;
  overflow-y: scroll;
  border: 2px solid #00ff00;
}

.mw-intro {
  padding: 0px;
  color: #0000ff;
}

.mw-time-col {
  width: 300px;
}

.mw-code-col {
  width: 80px;
}
